
{% extends 'app/base.html' %}

{% block body %}

<table  class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Created by</th>
            <th>Title</th>
            <th>Description</th>
            <th>Closed Date</th>

        </tr>
        </thead>

        <tbody>
    {% for ticket in tickets %}
        <tr>
            <td><a href="">{{ ticket.id }}</a></td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.created_by }}</td>
            <td>{{ ticket.ticket_title }}</td>
            <td>{{ ticket.ticket_description }}</td>
            <td>{{ ticket.closed_date }}</td>

            
        </tr>
        
    {% endfor %}
    </tbody></table>
{% endblock %}

