{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% block body %}

                  <h2>Manager Signup</h2>
                </div>
              
                    <form action="{% url 'manager_register' %}" method="POST">
                      {% csrf_token %}
                         {% for field in form.visible_fields %}
                           <div class="form-group">
                               {{ field.label_tag }}
                                  {% render_field field class="form-control" %}
                                    {% for error in field.errors %}
                                      <span style="color:red">{{ error }}</span>
                                    {% endfor %}
                         {% endfor %}
                             <input type="submit" value="Register" class="btn btn-block btn-primary">
                           </div>
                           
                    </form>
                
{% endblock %}